In [30]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv("C:\\Users\\vikas\\Downloads\\raw_data.csv")
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [32]:
df.loc[9]=[210,'Jim Carry','1/1/1970','jimcarry@gmail.com','Male','Amazon','USA',12349.556,23652]
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [33]:
df.at[3,'email']='graeme.crosisier@gmail.com'
df.at[6,'email']='modesta.batterson@gmail.com'
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [34]:
df['Country'].unique()

array(['India', 'USA', 'UAS', 'Canada', nan, 'Russia'], dtype=object)

In [35]:
df['Country'].replace({'UAS':'USA'},inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [36]:
df['Country'].unique()

array(['India', 'USA', 'Canada', nan, 'Russia'], dtype=object)

In [37]:
df['Country'].nunique()

4

In [38]:
df['Country'].fillna(df['Country'].mode()[0],inplace=True)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [39]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,$28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,12349.556,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [40]:
df.dtypes

id                    float64
Employee Full Name     object
DOB                    object
email                  object
gender                 object
Company                object
Country                object
Income.1               object
Income.2              float64
dtype: object

In [41]:
df['Income.1']=df['Income.1'].str.replace("$","")
df

C:\Users\vikas\AppData\Local\Temp/ipykernel_10060/4277178757.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Income.1']=df['Income.1'].str.replace("$","")

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,NaN,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [42]:
df['Income.1']=df['Income.1'].replace("",np.nan)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.4353770562,NaN
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,NaN,23652.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.0787072359,1668.0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     object
 8   Income.2            18 non-null     float64
dtypes: float64(2), object(7)
memory usage: 1.5+ KB

In [44]:
df['Income.1']=df['Income.1'].astype(float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  20 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            13 non-null     float64
 8   Income.2            18 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB

In [46]:
df['Income.1'].fillna(df['Income.1'].mean(),inplace=True)

In [47]:
df['Income.2'].fillna(df['Income.2'].mean(),inplace=True)

In [48]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000

In [49]:
df['total income'] = np.ceil(df['Income.1']) + (df['Income.2'])
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,total income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.000000
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.000000
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.000000
3,204.0,Graeme Croisier,9/29/2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.000000
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.000000
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.000000
6,207.0,Modesta Batterson,3/28/2018,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.000000
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.000000
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333,30911.333333
9,210.0,Jim Carry,1/1/1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000,67120.000000
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.000000
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.000000
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333,58113.333333
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.000000
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.000000
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.000000
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.000000
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.000000
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.000000
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.000000

In [27]:
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,total income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.000000
1,202.0,Madelene Lutas,9_20_2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.000000
2,203.0,Dolli Swanbourne,11_18_2018,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.000000
3,204.0,Graeme Croisier,9_29_2018,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.000000
4,205.0,Jillana Physic,4_19_2018,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.000000
5,206.0,Anetta Yokelman,4_26_2018,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.000000
6,207.0,Modesta Batterson,3_28_2018,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.000000
7,208.0,Melina Boon,12_18_2017,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.000000
8,209.0,Nomi Warn,1_16_2018,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333,30911.333333
9,210.0,Jim Carry,1_1_1970,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000,67120.000000
10,211.0,Charleen Auden,4_15_2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.000000
11,212.0,Dame Povele,6_26_2018,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.000000
12,213.0,Jesse Engelbrecht,4_16_2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333,58113.333333
13,214.0,Camey Barensen,8_21_2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.000000
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.000000
15,216.0,Myrtia Towne,2_14_2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.000000
16,217.0,Shay Cakebread,9_27_2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.000000
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.000000
18,219.0,Patin Mitchely,5_21_2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.000000
19,220.0,Malinda Heistermann,10_30_2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.000000

In [50]:
## replace "/" with '-' to bring DOB in same format
df['DOB']=df['DOB'].str.replace("/","-")

In [52]:
date_format= "%m-%d-%Y"
df['DOB']=pd.to_datetime(df['DOB'], format=date_format)

df.head()

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,total income
0,201.0,Salim Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.0,43702.0
3,204.0,Graeme Croisier,2018-09-29,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.0,59434.0

In [53]:
#2
df['Employee Full Name'].str.split(" ",expand=True)

            0            1
0       Salim        Pound
1    Madelene        Lutas
2       Dolli   Swanbourne
3      Graeme     Croisier
4     Jillana       Physic
5      Anetta     Yokelman
6     Modesta    Batterson
7      Melina         Boon
8        Nomi         Warn
9         Jim        Carry
10   Charleen        Auden
11       Dame       Povele
12      Jesse  Engelbrecht
13      Camey     Barensen
14  Alexandro       Sember
15     Myrtia        Towne
16       Shay    Cakebread
17      Nerta    McCutheon
18      Patin     Mitchely
19    Malinda  Heistermann

In [54]:
df["First_name"]=df["Employee Full Name"].str.split(" ").str.get(0)
df["Last_name"]=df["Employee Full Name"].str.split(" ").str.get(1)
df

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,total income,First_name,Last_name
0,201.0,Salim Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.000000,Salim,Pound
1,202.0,Madelene Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.000000,Madelene,Lutas
2,203.0,Dolli Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.000000,Dolli,Swanbourne
3,204.0,Graeme Croisier,2018-09-29,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.000000,Graeme,Croisier
4,205.0,Jillana Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.000000,Jillana,Physic
5,206.0,Anetta Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.000000,Anetta,Yokelman
6,207.0,Modesta Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.000000,Modesta,Batterson
7,208.0,Melina Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.000000,Melina,Boon
8,209.0,Nomi Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333,30911.333333,Nomi,Warn
9,210.0,Jim Carry,1970-01-01,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000,67120.000000,Jim,Carry
10,211.0,Charleen Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.000000,Charleen,Auden
11,212.0,Dame Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.000000,Dame,Povele
12,213.0,Jesse Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333,58113.333333,Jesse,Engelbrecht
13,214.0,Camey Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.000000,Camey,Barensen
14,215.0,Alexandro Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.000000,Alexandro,Sember
15,216.0,Myrtia Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.000000,Myrtia,Towne
16,217.0,Shay Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.000000,Shay,Cakebread
17,218.0,Nerta McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.000000,Nerta,McCutheon
18,219.0,Patin Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.000000,Patin,Mitchely
19,220.0,Malinda Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.000000,Malinda,Heistermann

In [55]:
#3 move first and last name column to the 1st and 2nd position of dataset
column_to_move=df['First_name']
df=df.drop('First_name',axis=1)
df.insert(1,'First_name',column_to_move)
df

,id,First_name,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,total income,Last_name
0,201.0,Salim,Salim Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.000000,Pound
1,202.0,Madelene,Madelene Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.000000,Lutas
2,203.0,Dolli,Dolli Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.000000,Swanbourne
3,204.0,Graeme,Graeme Croisier,2018-09-29,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.000000,Croisier
4,205.0,Jillana,Jillana Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.000000,Physic
5,206.0,Anetta,Anetta Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.000000,Yokelman
6,207.0,Modesta,Modesta Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.000000,Batterson
7,208.0,Melina,Melina Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.000000,Boon
8,209.0,Nomi,Nomi Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333,30911.333333,Warn
9,210.0,Jim,Jim Carry,1970-01-01,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000,67120.000000,Carry
10,211.0,Charleen,Charleen Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.000000,Auden
11,212.0,Dame,Dame Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.000000,Povele
12,213.0,Jesse,Jesse Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333,58113.333333,Engelbrecht
13,214.0,Camey,Camey Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.000000,Barensen
14,215.0,Alexandro,Alexandro Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.000000,Sember
15,216.0,Myrtia,Myrtia Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.000000,Towne
16,217.0,Shay,Shay Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.000000,Cakebread
17,218.0,Nerta,Nerta McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.000000,McCutheon
18,219.0,Patin,Patin Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.000000,Mitchely
19,220.0,Malinda,Malinda Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.000000,Heistermann

In [56]:
columns_to_move=df['Last_name']
df=df.drop('Last_name',axis=1)
df.insert(2,'Last_name',columns_to_move)
df

,id,First_name,Last_name,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,total income
0,201.0,Salim,Pound,Salim Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.000000
1,202.0,Madelene,Lutas,Madelene Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.000000
2,203.0,Dolli,Swanbourne,Dolli Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.000000
3,204.0,Graeme,Croisier,Graeme Croisier,2018-09-29,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.000000
4,205.0,Jillana,Physic,Jillana Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.000000
5,206.0,Anetta,Yokelman,Anetta Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.000000
6,207.0,Modesta,Batterson,Modesta Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.000000
7,208.0,Melina,Boon,Melina Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.000000
8,209.0,Nomi,Warn,Nomi Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333,30911.333333
9,210.0,Jim,Carry,Jim Carry,1970-01-01,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000,67120.000000
10,211.0,Charleen,Auden,Charleen Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.000000
11,212.0,Dame,Povele,Dame Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.000000
12,213.0,Jesse,Engelbrecht,Jesse Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333,58113.333333
13,214.0,Camey,Barensen,Camey Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.000000
14,215.0,Alexandro,Sember,Alexandro Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.000000
15,216.0,Myrtia,Towne,Myrtia Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.000000
16,217.0,Shay,Cakebread,Shay Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.000000
17,218.0,Nerta,McCutheon,Nerta McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.000000
18,219.0,Patin,Mitchely,Patin Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.000000
19,220.0,Malinda,Heistermann,Malinda Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.000000

In [57]:
df=df.drop('Employee Full Name',axis=1)
df

,id,First_name,Last_name,DOB,email,gender,Company,Country,Income.1,Income.2,total income
0,201.0,Salim,Pound,2018-02-12,spound0@spotify.com,Male,Google,India,46476.638081,529.000000,47006.000000
1,202.0,Madelene,Lutas,2018-09-20,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.000000,54895.000000
2,203.0,Dolli,Swanbourne,2018-11-18,dswanbourne2@istockphoto.com,Female,Intel,USA,43467.240728,234.000000,43702.000000
3,204.0,Graeme,Croisier,2018-09-29,graeme.crosisier@gmail.com,Male,Accenture,Canada,46784.630879,657.000000,47442.000000
4,205.0,Jillana,Physic,2018-04-19,jphysic4@yellowbook.com,Female,Accenture,India,57486.495560,1947.000000,59434.000000
5,206.0,Anetta,Yokelman,2018-04-26,ayokelman5@berkeley.edu,Female,Intel,India,43467.240728,952.000000,44420.000000
6,207.0,Modesta,Batterson,2018-03-28,modesta.batterson@gmail.com,Female,Intel,India,43467.240728,32.000000,43500.000000
7,208.0,Melina,Boon,2017-12-18,mboon7@weibo.com,Male,Amazon,India,43467.240728,1901.000000,45369.000000
8,209.0,Nomi,Warn,2018-01-16,nwarn8@sogou.com,Female,Amazon,USA,28602.435377,2308.333333,30911.333333
9,210.0,Jim,Carry,1970-01-01,jimcarry@gmail.com,Male,Amazon,USA,43467.240728,23652.000000,67120.000000
10,211.0,Charleen,Auden,2018-04-15,caudena@nba.com,Female,Accenture,USA,47119.174780,920.000000,48040.000000
11,212.0,Dame,Povele,2018-06-26,dpoveleb@bloglovin.com,Male,Amazon,India,43467.240728,1286.000000,44754.000000
12,213.0,Jesse,Engelbrecht,2018-04-16,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,2308.333333,58113.333333
13,214.0,Camey,Barensen,2018-08-21,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.000000,44238.000000
14,215.0,Alexandro,Sember,2018-04-08,asembere@ibm.com,Male,Google,Russia,43467.240728,568.000000,44036.000000
15,216.0,Myrtia,Towne,2018-02-14,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.000000,46035.000000
16,217.0,Shay,Cakebread,2018-09-27,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.000000,56733.000000
17,218.0,Nerta,McCutheon,2018-01-07,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.000000,35688.000000
18,219.0,Patin,Mitchely,2018-05-21,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.000000,9054.000000
19,220.0,Malinda,Heistermann,2018-10-30,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.000000,45032.000000

In [61]:
### average salary analysis

piv=pd.pivot_table(df,values='total income',index=['Country','Company'], aggfunc=np.mean)
piv

                   total income
Country Company
Canada  Accenture  47442.000000
        Amazon     58113.333333
        Google     44238.000000
India   Accenture  59434.000000
        Amazon     41937.000000
        Google     49924.666667
        Intel      43960.000000
Russia  Amazon      9054.000000
        Google     44036.000000
        Intel      45032.000000
USA     Accenture  48040.000000
        Amazon     50975.444444
        Intel      43702.000000